$primary:#2dbce8;
$secondary:#424242;
$accent: #82B1FF;
$error: #FF5252;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;

$text-default-bright: #fff;
$text-default: #aaa;
$text-default-dim: #888;